@model MK_UserSignup.ViewModels.AddUserViewModel

<h1>Add User</h1>

    <form method="post">

        <div class="form-group">
            <label asp-for="Username"></label>
            <input class="form-control" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" name="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="VerifyPassword"></label>
            <input type="password" name="VerifyPassword" />
            <span asp-validation-for="VerifyPassword"></span>
        </div>

        <input type="submit" value="Add User" />


    </form>

