@{

}

<h1>@ViewBag.title</h1>

<form method="post">


    <label for="userName">User Name</label>
    <input type="text" name="userName" />
    <br />

    <label for="email">User Email</label>
    <input type="text" name="email" />
    <br />

    <label for="password">User Password</label>
    <input type="password" name="password" />
    <br />

    <label for="verifyPassword">User Verify Password</label>
    <input type="password" name="verifyPassword" />

    <br />

    <input type="submit" value="Add User" />

    @if (ViewBag.error != null)
    {
        <p><label>@ViewBag.error</label></p>
    }
</form>

