@model MK_UserSignup.ViewModels.AddUserViewModel

<h1>User Detail</h1>

<table class="table">

    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>User Id</th>
    </tr>

    <tr>
        <td>@Model.Username</td>
        <td>@Model.Email</td>
        <td>@Model.CreateDateTime</td>
        <td>@Model.UserId</td>
    </tr>
</table>